<div class="dashboard-container">

  <!-- SIDEBAR -->
  <div class="sidebar">
    <div class="logo-section">
      <img src="SCLogo.png" />
      <h3>Student Companion</h3>
    </div>

    <nav>
      <a routerLink="/dashboard" class="active">Dashboard</a>
      <a routerLink="/dashboard/courses">Courses</a>
      <a routerLink="/dashboard/assessments">Assessments</a>
      <a routerLink="/dashboard/create-student">Create Student</a>
    </nav>

    <div class="logout-section">
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">

<div class="topbar">

  <h1>
    Welcome, {{ student?.name || email }}!
  </h1>

  <div *ngIf="!student" class="no-student">
    <p>No student profile found.</p>
    <a routerLink="/dashboard/create-student" class="card-btn">
      Create Student
    </a>
  </div>

</div>

    <!-- CARDS -->
    <div class="cards">

      <div class="card">
        <h3>Courses</h3>
        <p>Manage your courses</p>
        <a routerLink="/dashboard/courses" class="card-btn">
          View Courses
        </a>
      </div>

      <div class="card">
        <h3>Assessments</h3>
        <p>Track your assessments</p>
        <a routerLink="/dashboard/assessments" class="card-btn">
          View Assessments
        </a>
      </div>
      <div class="card">
        <h3>Students</h3>
        <p>Create and manage students</p>
        <a routerLink="/dashboard/create-student" class="card-btn">
          Create Student
        </a>
      </div>
    </div>
    <hr>
    <!-- BELOW CARDS -->
	<div class="card" *ngIf="student">

	  <h3>📅 Calendar</h3>
	
	  <div *ngFor="let a of assessments" class="calendar-row">

		  <div>
		    <div class="title">
		      {{ a.title || a.course?.courseName }}
		    </div>
		    <div class="course">
		      📘 {{ a.course?.courseName }}
		    </div>
		  </div>
		
		  <span class="date">
		    {{ a.dueDate | date:'mediumDate' }}
		  </span>
		
		  <span 
		    class="status"
		    [ngClass]="{
		      'overdue': isOverdue(a.dueDate),
		      'upcoming': isUpcoming(a.dueDate)
		    }">
		
		    {{ isOverdue(a.dueDate) ? 'Overdue' : 'Upcoming' }}
		
		  </span>
		
		</div>
	
	</div>

  </div>
 
</div>