/* .error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
} */

/* LOGIN PAGE ONLY */

/* MAIN CARD */
.login-container {
  width: 900px;
  height: 520px;

  display: flex;

  border-radius: 30px;
  overflow: hidden;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

/* LEFT SIDE */
.left-panel {
  flex: 1;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 40px;
}

/* LOGO */
.logo-box img {
  width: 140px;
  height: auto;

  margin-bottom: 25px;

  object-fit: contain;
}

/* HEADING */
.left-panel h1 {
  font-size: 32px;
  line-height: 1.3;

  margin-bottom: 20px;
}

/* SUBTEXT */
.left-panel p {
  font-size: 18px;
}

/* WAVE EFFECT */
.wave {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 120px;

  background: rgba(255,255,255,0.08);

  border-radius: 100% 100% 0 0;
}

/* RIGHT SIDE */
.right-panel {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #DDE2E6;

  color: #1A1A1A;
}

/* FORM */
.form-box {
  width: 75%;
}

/* LOGIN TITLE */
.form-box h2 {
  font-size: 42px;

  margin-bottom: 35px;

  color: #17352B;
}

/* INPUT SPACING */
.form-box input {
  margin-bottom: 20px;
}

/* SIGNUP */
.signup {
  margin-top: 25px;

  text-align: center;

  color: #333;
}

.signup span {
  font-weight: bold;
}